* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 30%;
    margin: 100px auto;
    text-align: center;
}

/* Top text */
.top-text {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

/* Logo */
.logo {
    color: #e4002b;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Heading */
.heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Form */
.form {
    text-align: left;
}

/* Input */
.form label {
    font-size: 14px;
}

.form input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    padding: 10px 0;
    margin: 10px 0 20px;
    background: transparent;
    outline: none;
}

/* Terms */
.terms {
    font-size: 12px;
    color: #555;
    margin-bottom: 20px;
}

.terms span {
    text-decoration: underline;
    cursor: pointer;
}

/* Primary button */
.primary-btn {
    width: 180px;
    height: 50px;
    padding: 14px;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 200px;
}

/* Divider */
.divider {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.divider span {
    flex: 1;
    height: 1px;
    background: #ccc;
}

.divider p {
    margin: 0 10px;
    color: #555;
}

/* Secondary button */
.secondary-btn {
    width: 100%;
    height: 60px;
    padding: 14px;
    border: 1px solid #000;
    background: transparent;
    border-radius: 30px;
    cursor: pointer;
}